.sign-in {
  display: flex;
  width: 850px;
  height: 400px;
  background-color: white;
  margin: 113px auto 0;
  padding: 48px 0 72px;
  box-shadow: -2px 15px 42px -18px rgba(0, 0, 0, 0.49);
  border-radius: 5px;
}

.sign-in-title {
  text-align: left;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
}


.sign-in div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}

.sign-in-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  
}

.title-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  justify-content: space-around;
}