.recent-activity-main {
  display: flex;
  padding: 16px 32px;
}

.date-name-amount {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1;
}

.date-name {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.recent-activity-month {
  font-size: 14px;
  color: #7e7779;
}